* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Chelsea Market",cursive;
    font-weight: bold;
    max-width: 1466px;
    margin: 0 auto;
}
header {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
h2 {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
.left-block {
    height: 250px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    margin: 20px;
    padding: 20px;
}
img {
    width: 100px;
}
.card {
    width: 80%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    margin: 20px;
    padding: 30px;
}
.up {
    display: flex;
    justify-content: space-between;
}
button {
    background-color: rgb(228, 198, 3);
    cursor: pointer;
    margin-left: 20px;
    box-shadow: rgb(0, 0, 0) 4px 4px;
    padding: 6px 10px;
}