* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

/* Nav */

nav {
    display: flex;
    background-color: #9fc5f8;
    padding: 15px;
    align-items: center;
}

li,h1,a {
    color: white;
    text-decoration: none;
}


.nav-links,.nav-title {
    margin: 20px 200px 0px 260px;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding: 5px;
}

/* The Top */

.top {
    display: flex;
    justify-content: space-between;
    margin: 20px 380px 0px 280px;
}


select {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #000;
}

hr {
    margin: 10px 370px 0 290px;
    border: 2px solid #000;
}

/*Main Content*/

.cards {
    display: flex;
    height: auto;
    margin: 20px 200px 0px 280px;
}

.card {
    height: 300px;
    margin: 0px 14px;
    padding: 10px ;
    text-align: center;
    background-color: hsl(0deg 0% 93.33%);
}

.card img {
    width: 150px;
    padding: 5px;
    border-radius: 50%;
}

.card p {
    margin-top: 20px;
}

span {
    padding: 25px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

/* Cookie Card */
.cookies {
    display: flex;
    margin: 20px 200px 0px 200px;
    border: 2px solid #000;
}

img {
    padding: 30px;
    width: 100px;
}

.msg {
    padding: 20px;
}

.btn {
    margin: 60px 100px 0px 200px;
}

.cookie-btn {
    padding: 20px;
    width: 150px;
    background-color: hsl(214.38deg 86.41% 79.8%);
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 4px 4px;
}