body {
    font-family: cursive;
    font-weight: bolder;
    max-width: 1466px;
    margin: 0 auto;
}
/*Main*/
.main {
    margin: 50px;
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
    background-color: darkgray;
}

.nav-logo {
    margin-right: 400px;
    margin-left: 10px;
}

.nav li,button {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav li {
    display: inline-block;
    margin: 10px;
}

.nav input {
    width: 350px;
    padding: 5px;
    margin-right: 300px;
    border: 2px solid #000;
}


.nav-btn {
    padding: 6px 10px;
    background-color: rgb(4, 0, 255);
    cursor: pointer;
    margin-left: 20px;
    box-shadow: 4px 4px #000;
}

/*Block 1*/
.block-1 {
    display: flex;
    justify-content: space-between;
}

/*Main page => Block 1 => Card 1*/

.card-1 {
    display: flex;
    margin: 30px;
    padding: 30px;
    width: 580px;
    height: auto;
    border: 2px solid #000;
}

.left {
    margin: 30px;
    text-align: center;
}

.btn-1 {
    width: 70px;
    padding: 5px;
    background-color: rgb(221, 134, 21);
    box-shadow: 4px 4px #000;
}

.right {
    margin: 30px;
    margin-top: 50px;
    padding: 20px;
}

span {
    color: blue;
}

/*Main page => Block 1 => Card 2*/

.card-2 {
    width: 350px;
    height: 200px;
    margin: 30px;
    text-align: center;
    border: 2px solid #000;
}

.btn-2 {
    background-color: rgb(80, 207, 80);
    width: 200px;
    padding: 10px;
    box-shadow: 4px 4px #000;
}

/*Main page => Block 2 => Card */

.card {
    display: flex;
    margin: 30px;
    padding: 30px;
    width: 580px;
    height: auto;
    border: 2px solid #000;
}

.left {
    margin: 30px;
    text-align: center;
}

.btn-3 {
    width: 70px;
    padding: 5px;
    background-color: rgb(221, 134, 21);
    box-shadow: 4px 4px #000;
}

.right {
    margin: 30px;
    margin-top: 50px;
    padding: 20px;
}

span {
    color: blue;
}